In [1]:
import pandas as pd

In [2]:
#1. Read this dataset in pandas
df = pd.read_csv('FitBit data.csv')

In [3]:
df

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,04-08-2016,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,04-09-2016,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,04-10-2016,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,04-11-2016,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,04-12-2016,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

In [6]:
missing_data=df.isnull()

In [7]:
df.dtypes

Id                            int64
ActivityDate                 object
TotalSteps                    int64
TotalDistance               float64
TrackerDistance             float64
LoggedActivitiesDistance    float64
VeryActiveDistance          float64
ModeratelyActiveDistance    float64
LightActiveDistance         float64
SedentaryActiveDistance     float64
VeryActiveMinutes             int64
FairlyActiveMinutes           int64
LightlyActiveMinutes          int64
SedentaryMinutes              int64
Calories                      int64
dtype: object

In [8]:
#3 convert all the dates avaible in dataset to timestamp format in pandas
df['VeryActiveMinutes'] = df['VeryActiveMinutes'].apply(lambda t: pd.Timestamp(t))
df['FairlyActiveMinutes'] = df['FairlyActiveMinutes'].apply(lambda t: pd.Timestamp(t))
df['LightlyActiveMinutes'] = df['LightlyActiveMinutes'].apply(lambda t: pd.Timestamp(t))
df['SedentaryMinutes'] = df['SedentaryMinutes'].apply(lambda t: pd.Timestamp(t))

In [9]:
#4 . Find out in this data that how many unique id's we have
df['Agent Name'].unique()

In [17]:
df['Id'].unique()

array([1503960366, 1624580081, 1644430081, 1844505072, 1927972279,
       2022484408, 2026352035, 2320127002, 2347167796, 2873212765,
       2891001357, 3372868164, 3977333714, 4020332650, 4057192912,
       4319703577, 4388161847, 4445114986, 4558609924, 4702921684,
       5553957443, 5577150313, 6117666160, 6290855005, 6391747486,
       6775888955, 6962181067, 7007744171, 7086361926, 8053475328,
       8253242879, 8378563200, 8583815059, 8792009665, 8877689391],
      dtype=int64)

In [18]:
df['Id'].unique().size

35

In [29]:
#5 . which id is one of the active id that you have in whole dataset
#df[df['VeryActiveDistance'] == max(df['profit'])]['customer_name']
df.groupby('Id')['VeryActiveDistance'].sum()

Id
1503960366    52.890000
1624580081     0.980000
1644430081    11.340000
1844505072     0.610000
1927972279     0.000000
2022484408    37.030000
2026352035     0.000000
2320127002     0.950000
2347167796    12.920000
2873212765     3.960000
2891001357     0.000000
3372868164     7.440000
3977333714    10.020000
4020332650     5.300000
4057192912     3.200000
4319703577     5.540000
4388161847     0.000000
4445114986     6.350000
4558609924     2.170000
4702921684     3.570000
5553957443    18.140000
5577150313    34.260000
6117666160     0.420000
6290855005     2.020000
6391747486     2.030000
6775888955     8.480000
6962181067    36.130000
7007744171    42.479999
7086361926    18.350000
8053475328    93.930000
8253242879     7.240000
8378563200    23.580000
8583815059     0.370000
8792009665     0.580000
8877689391    87.390000
Name: VeryActiveDistance, dtype: float64

In [ ]:
8053475328    93.930000

In [33]:
#6 . how many of them have not logged there activity find out in terms of number of ids 
df.groupby('Id')['LoggedActivitiesDistance'].count()

Id
1503960366    19
1624580081    19
1644430081    10
1844505072    12
1927972279    12
2022484408    12
2026352035    12
2320127002    12
2347167796    15
2873212765    12
2891001357     8
3372868164    10
3977333714    12
4020332650    32
4057192912    32
4319703577    12
4388161847     8
4445114986    15
4558609924    12
4702921684    15
5553957443    12
5577150313    11
6117666160    10
6290855005    10
6391747486     9
6775888955     9
6962181067    14
7007744171    12
7086361926    12
8053475328    11
8253242879    12
8378563200    12
8583815059     8
8792009665    12
8877689391    12
Name: LoggedActivitiesDistance, dtype: int64

In [46]:
#7 . Find out who is the laziest person id that we have in dataset 
steps_sum = df.groupby('Id')['Id', 'TotalSteps'].sum()
steps_sum['rank'] = steps_sum['TotalSteps'].rank(ascending=True)
steps_sum

C:\Users\Dell\AppData\Local\Temp\ipykernel_14696\1072363498.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  steps_sum = df.groupby('Id')['Id', 'TotalSteps'].sum()

                      Id  TotalSteps  rank
Id
1503960366   28575246954      221170  35.0
1624580081   30867021539       80299  19.0
1644430081   16444300810       92748  21.0
1844505072   22134060864       43687  11.0
1927972279   23135667348       26170   6.0
2022484408   24269812896      146099  28.0
2026352035   24316224420       40713  10.0
2320127002   27841524024       37661   9.0
2347167796   35207516940      147001  29.0
2873212765   34478553180       79639  18.0
2891001357   23128010856        6189   2.0
3372868164   33728681640       61275  14.0
3977333714   47728004568      103967  26.0
4020332650  128650644800      184851  33.0
4057192912  129830173184       60391  13.0
4319703577   51836442924       93847  22.0
4388161847   35105294776           0   1.0
4445114986   66676724790       64396  15.0
4558609924   54703319088       69423  16.0
4702921684   70543825260      119151  27.0
5553957443   66647489316      100257  25.0
5577150313   61348653443       94690  23.0
6117666160   61176661600       82486  20.0
6290855005   62908550050       16181   4.0
6391747486   57525727374       12032   3.0
6775888955   60983000595       50031  12.0
6962181067   97470534938      176956  32.0
7007744171   84092930052      147124  30.0
7086361926   85036343112       73247  17.0
8053475328   88588228608      163288  31.0
8253242879   99038914548       28679   7.0
8378563200  100542758400       97623  24.0
8583815059   68670520472       24364   5.0
8792009665  105504115980       37139   8.0
8877689391  106532272692      209005  34.0

In [50]:
#8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset 
def findHealthy(a):
    if a<2600:
        return 'Not healthy'
    else:
        return "Healthy"

In [53]:
df['healthy_flag']= df['Calories'].apply(findHealthy)

In [57]:
df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,healthy_flag
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,1970-01-01 00:00:00.000000033,1970-01-01 00:00:00.000000012,1970-01-01 00:00:00.000000205,1970-01-01 00:00:00.000000804,1819,Not healthy
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,1970-01-01 00:00:00.000000089,1970-01-01 00:00:00.000000017,1970-01-01 00:00:00.000000274,1970-01-01 00:00:00.000000588,2154,Not healthy
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,1970-01-01 00:00:00.000000056,1970-01-01 00:00:00.000000005,1970-01-01 00:00:00.000000268,1970-01-01 00:00:00.000000605,1944,Not healthy
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,1970-01-01 00:00:00.000000039,1970-01-01 00:00:00.000000020,1970-01-01 00:00:00.000000224,1970-01-01 00:00:00.000001080,1932,Not healthy
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,1970-01-01 00:00:00.000000028,1970-01-01 00:00:00.000000028,1970-01-01 00:00:00.000000243,1970-01-01 00:00:00.000000763,1886,Not healthy

In [56]:
df[df['healthy_flag']=='Healthy']['Id'].count()

121

In [59]:
#10 . who is the third most active person in this dataset find out those in pandas
steps_sum = df.groupby('Id')['Id', 'TotalSteps'].sum()
steps_sum['rank'] = steps_sum['TotalSteps'].rank(ascending=True)
steps_sum

C:\Users\Dell\AppData\Local\Temp\ipykernel_14696\2436852579.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  steps_sum = df.groupby('Id')['Id', 'TotalSteps'].sum()

                      Id  TotalSteps  rank
Id
1503960366   28575246954      221170  35.0
1624580081   30867021539       80299  19.0
1644430081   16444300810       92748  21.0
1844505072   22134060864       43687  11.0
1927972279   23135667348       26170   6.0
2022484408   24269812896      146099  28.0
2026352035   24316224420       40713  10.0
2320127002   27841524024       37661   9.0
2347167796   35207516940      147001  29.0
2873212765   34478553180       79639  18.0
2891001357   23128010856        6189   2.0
3372868164   33728681640       61275  14.0
3977333714   47728004568      103967  26.0
4020332650  128650644800      184851  33.0
4057192912  129830173184       60391  13.0
4319703577   51836442924       93847  22.0
4388161847   35105294776           0   1.0
4445114986   66676724790       64396  15.0
4558609924   54703319088       69423  16.0
4702921684   70543825260      119151  27.0
5553957443   66647489316      100257  25.0
5577150313   61348653443       94690  23.0
6117666160   61176661600       82486  20.0
6290855005   62908550050       16181   4.0
6391747486   57525727374       12032   3.0
6775888955   60983000595       50031  12.0
6962181067   97470534938      176956  32.0
7007744171   84092930052      147124  30.0
7086361926   85036343112       73247  17.0
8053475328   88588228608      163288  31.0
8253242879   99038914548       28679   7.0
8378563200  100542758400       97623  24.0
8583815059   68670520472       24364   5.0
8792009665  105504115980       37139   8.0
8877689391  106532272692      209005  34.0

In [ ]:
# Rank 33 is the thrid most active with Id 4020332650 Rank - 33.0

In [ ]:
# 11 . who is the 5th most laziest person avilable in dataset find it out

In [ ]:
From the output of Q7,  it is Id 8583815059 Rank- 5.0

In [ ]:
#12 . what is the total acumulative calories burn for a person find out

In [63]:
df.groupby('Id')['Calories'].sum()

Id
1503960366    34128
1624580081    25705
1644430081    29164
1844505072    19391
1927972279    27048
2022484408    29704
2026352035    16266
2320127002    18385
2347167796    30320
2873212765    20349
2891001357    18187
3372868164    18603
3977333714    16777
4020332650    98412
4057192912    60913
4319703577    23931
4388161847    14442
4445114986    31617
4558609924    21962
4702921684    42322
5553957443    21630
5577150313    36303
6117666160    20993
6290855005    21656
6391747486    15868
6775888955    24523
6962181067    29249
7007744171    31525
7086361926    26124
8053475328    31825
8253242879    17556
8378563200    40274
8583815059    19130
8792009665    24884
8877689391    41414
Name: Calories, dtype: int64