In [1]:
import pandas as pd

In [4]:
#1. Read this dataset in pandas
df = pd.read_excel('Superstore_USA.xlsx')

In [5]:
df

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

In [6]:
df.dtypes

Row ID                           int64
Order Priority                  object
Discount                       float64
Unit Price                     float64
Shipping Cost                  float64
Customer ID                      int64
Customer Name                   object
Ship Mode                       object
Customer Segment                object
Product Category                object
Product Sub-Category            object
Product Container               object
Product Name                    object
Product Base Margin            float64
Region                          object
State or Province               object
City                            object
Postal Code                      int64
Order Date              datetime64[ns]
Ship Date               datetime64[ns]
Profit                         float64
Quantity ordered new             int64
Sales                          float64
Order ID                         int64
dtype: object

In [7]:
df_returns = pd.read_excel('Superstore_USA.xlsx', sheet_name='Returns')

In [8]:
df_returns.head()

   Order ID    Status
0        65  Returned
1       612  Returned
2       614  Returned
3       678  Returned
4       710  Returned

In [9]:
df_users = pd.read_excel('Superstore_USA.xlsx', sheet_name='Users')

In [10]:
df_users

    Region  Manager
0  Central    Chris
1     East     Erin
2    South      Sam
3     West  William

In [11]:
#3 . Find out how return that we have received and with a product id
df_join = pd.merge(df,df_returns , on ='Order ID')

In [12]:
df_join[['Order ID','Status']]

    Order ID    Status
0       9895  Returned
1      13959  Returned
2      13959  Returned
3      36038  Returned
4      39490  Returned
..       ...       ...
93      7107  Returned
94      7107  Returned
95     42823  Returned
96     13638  Returned
97     47109  Returned

[98 rows x 2 columns]

In [13]:
#5 . Try to find out how many unique customer that we have
df['Customer Name'].unique()

array(['Janice Fletcher', 'Bonnie Potter', 'Ronnie Proctor', ...,
       'Florence Gold', 'Frederick Cole', 'Tammy Buckley'], dtype=object)

In [14]:
#7 . find out how many different differnet shipment mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset
df['Ship Mode'].value_counts()

Regular Air       7036
Delivery Truck    1283
Express Air       1107
Name: Ship Mode, dtype: int64

In [15]:
#8 . Create a new coulmn and try to find our a diffrence between order date and shipment date
df['fulfillment'] = df['Ship Date'] - df['Order Date'] 
df['fulfillment']

0      2 days
1      1 days
2      1 days
3      1 days
4      0 days
        ...
9421   1 days
9422   0 days
9423   2 days
9424   3 days
9425   2 days
Name: fulfillment, Length: 9426, dtype: timedelta64[ns]

In [16]:
#9 . base on question number 8 find out for which order id we have shipment duration more than 10 days 
import numpy as np
df['fulfillment_rev'] = df['fulfillment'].apply(lambda x: x / np.timedelta64(1,'D'))
df['fulfillment_rev']

0       2.0
1       1.0
2       1.0
3       1.0
4       0.0
       ...
9421    1.0
9422    0.0
9423    2.0
9424    3.0
9425    2.0
Name: fulfillment_rev, Length: 9426, dtype: float64

In [17]:
df[df['fulfillment_rev'] > 10.0]['Order ID']

643     87215
1548    86318
1549    86318
1678    87957
1679    87957
1680    87957
1697    19556
1698    19556
1699    19556
2515    86177
5548    88223
5673    88352
5859    87572
5881    91294
8607    86434
8609    86436
8610    86436
8973    87300
8982    19841
8983    19841
8993    19841
8996    87300
8997    87300
Name: Order ID, dtype: int64

In [18]:
df[df['fulfillment_rev'] > 10.0]['Order ID'].count()

23

In [31]:
#10 . Try to find out a list of a returned order which sihpment duration was more then 15 days and find out that region manager as well
df_duration = df[df['fulfillment_rev'] > 15.0]
pd.merge(df_duration,df_users)[['Order ID', 'fulfillment', 'Manager']]

    Order ID fulfillment  Manager
0      87215     84 days    Chris
1      87957     17 days  William
2      87957     28 days  William
3      19556     17 days  William
4      19556     28 days  William
5      86177     92 days  William
6      91294     24 days  William
7      88352     17 days     Erin
8      19841     27 days     Erin
9      19841     31 days     Erin
10     19841     19 days     Erin
11     87300     27 days     Erin
12     87300     31 days     Erin
13     87572     22 days      Sam
14     86434     18 days      Sam
15     86436     17 days      Sam
16     86436     19 days      Sam
17     87300     19 days      Sam

In [46]:
#11 . Gorup by region and find out which region is more profitable
df_profitable =  df.groupby('Region')['Profit'].sum()
df_profitable
#df_profitable[df_profitable['profit'] == max(df_profitable['profit'])]['customer_name']
#df['Profitable'] = df.groupby('Region').Profit.transform('sum')

Region
Central    519825.567067
East       377566.186045
South      104201.192420
West       310849.453897
Name: Profit, dtype: float64

In [41]:
df

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,fulfillment,fulfillment_rev,Profitable
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525,2 days,2.0,519825.567067
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522,1 days,1.0,310849.453897
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,1 days,1.0,310849.453897
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,1 days,1.0,310849.453897
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,0 days,0.0,310849.453897
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532,1 days,1.0,377566.186045
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,0 days,0.0,377566.186045
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,2 days,2.0,377566.186045
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530,3 days,3.0,310849.453897
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533,2 days,2.0,310849.453897

In [47]:
#12 . Try to find out overalll in which country we are giving more didscount 
df[df['Discount'] == max(df['Discount'])]['State or Province']

8649    Illinois
Name: State or Province, dtype: object

In [56]:
#13 . Give me a list of unique postal code 
df['Postal Code'].unique()

array([60101, 98221, 91776, ..., 61832, 62521, 26554], dtype=int64)

In [57]:
df['Postal Code'].unique().size

1697

In [62]:
#14 . which customer segement is more profitalble find it out 
df_cust_proft =  df.groupby('Customer Segment')['Profit'].sum()
df_cust_proft

Customer Segment
Consumer          206559.625348
Corporate         505538.627783
Home Office       283869.553814
Small Business    316474.592482
Name: Profit, dtype: float64

In [63]:
max(df_cust_proft)

505538.62778304

In [69]:
#15 . try to find out the 10th most loss making product catagory . 
df_loss = df[(df['Profit'] < 0 )]

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,fulfillment,fulfillment_rev,Profitable
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,1 days,1.0,310849.453897
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,1 days,1.0,310849.453897
8,19483,Low,0.08,6.48,6.81,5,Ronnie Proctor,Regular Air,Home Office,Office Supplies,...,91776,2012-05-12,2012-05-21,-141.260000,18,113.25,90197,9 days,9.0,310849.453897
10,24563,Critical,0.07,6.48,6.60,6,Dwight Hwang,Regular Air,Home Office,Office Supplies,...,95123,2012-12-29,2012-12-31,-13.860000,4,28.61,90200,2 days,2.0,310849.453897
14,20876,Medium,0.08,140.98,36.09,8,Melanie Garner,Delivery Truck,Home Office,Furniture,...,3110,2012-12-25,2012-12-26,-158.740000,5,705.47,90199,1 days,1.0,377566.186045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9415,26043,Not Specified,0.06,30.98,6.50,3400,Florence Gold,Regular Air,Corporate,Technology,...,26554,2012-07-04,2012-07-07,-113.600000,3,96.79,87540,3 days,3.0,377566.186045
9418,23414,Critical,0.02,37.44,4.27,3400,Florence Gold,Regular Air,Corporate,Office Supplies,...,26554,2013-04-27,2013-04-30,-15.030000,1,43.90,87546,3 days,3.0,377566.186045
9420,18329,High,0.08,212.60,52.20,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,25314,2011-04-12,2011-04-12,-513.790420,10,1969.31,87531,0 days,0.0,377566.186045
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,0 days,0.0,377566.186045
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,2 days,2.0,377566.186045

In [75]:

df_loss = df_loss.nsmallest(n=10, columns=['Profit'], keep='all')
df_loss

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,fulfillment,fulfillment_rev,Profitable
4659,18306,Medium,0.08,175.99,4.99,1738,Dean Solomon,Regular Air,Corporate,Technology,...,28052,2010-03-28,2010-03-28,-16476.838000,10,1486.34,85865,0 days,0.0,104201.192420
4338,20972,Low,0.01,24.95,2.99,1632,Lori Wolfe,Regular Air,Home Office,Office Supplies,...,39401,2012-05-21,2012-05-21,-14369.123580,3,81.31,90534,0 days,0.0,104201.192420
7800,23213,Low,0.09,6783.02,24.49,2855,Vicki Womble,Regular Air,Consumer,Technology,...,98198,2010-03-10,2010-03-14,-14140.701600,1,6296.00,87317,4 days,4.0,310849.453897
4844,21284,Critical,0.04,880.98,44.55,1793,Derek Jernigan,Delivery Truck,Home Office,Furniture,...,61401,2010-01-06,2010-01-07,-13706.464000,8,6968.90,87853,1 days,1.0,519825.567067
5402,24076,Medium,0.04,6783.02,24.49,2004,James Dickinson Ball,Regular Air,Home Office,Technology,...,59715,2010-10-17,2010-10-19,-13562.637408,1,6569.07,91277,2 days,2.0,310849.453897
5409,22942,High,0.05,3502.14,8.73,2006,Cynthia Khan,Delivery Truck,Home Office,Technology,...,81301,2011-01-18,2011-01-19,-10402.943916,1,3460.11,88799,1 days,1.0,310849.453897
7725,21048,Not Specified,0.06,6783.02,24.49,2825,Carole Rosen,Regular Air,Consumer,Technology,...,83701,2011-09-12,2011-09-14,-10263.659700,2,9507.12,89498,2 days,2.0,310849.453897
2191,21575,Not Specified,0.05,3499.99,24.49,838,Gary Walton,Regular Air,Consumer,Technology,...,91745,2013-10-02,2013-10-03,-9078.940000,2,6849.48,89896,1 days,1.0,310849.453897
4068,21917,High,0.06,3502.14,8.73,1530,Seth Sweeney,Delivery Truck,Consumer,Technology,...,92262,2012-07-07,2012-07-09,-8570.448300,1,3057.44,88853,2 days,2.0,310849.453897
4857,24251,High,0.05,3502.14,8.73,1796,Carlos Johnson,Delivery Truck,Corporate,Technology,...,94110,2013-03-23,2013-03-24,-7961.430900,1,3360.30,90778,1 days,1.0,310849.453897

In [74]:
df_loss[df_loss['Profit'] == max(df_loss['Profit'])]['Product Category']

4857    Technology
Name: Product Category, dtype: object

In [81]:
#16 . Try to find out 10 top  product with highest margins
df.nlargest(n=10, columns=['Profit'], keep='all')

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,fulfillment,fulfillment_rev,Profitable
9132,18384,High,0.05,279.81,23.19,3302,Cathy Hutchinson,Delivery Truck,Home Office,Office Supplies,...,34741,2012-10-16,2012-10-18,16332.4140,15,4158.38,87802,2 days,2.0,104201.192420
4189,23560,High,0.03,1270.99,19.99,1569,Marie Daniel,Regular Air,Corporate,Office Supplies,...,60123,2013-11-09,2013-11-11,12504.9045,14,18123.05,90235,2 days,2.0,519825.567067
9404,22193,High,0.05,387.99,19.99,3397,Andrea Shaw,Regular Air,Small Business,Office Supplies,...,61832,2012-11-25,2012-11-26,11429.4774,42,16564.46,87544,1 days,1.0,519825.567067
4642,567,Not Specified,0.02,1270.99,19.99,1733,Nina Horne Kelly,Regular Air,Small Business,Office Supplies,...,20012,2010-10-04,2010-10-06,9228.2256,36,45737.33,3841,2 days,2.0,377566.186045
859,25809,Low,0.00,306.14,26.53,324,Lester Stuart,Delivery Truck,Corporate,Technology,...,55113,2012-11-19,2012-11-26,9195.9750,41,13327.50,91527,7 days,7.0,519825.567067
929,25778,Medium,0.05,500.98,28.14,355,Grace Vaughn,Delivery Truck,Home Office,Technology,...,86401,2011-11-26,2011-11-27,8917.7187,29,12924.23,89649,1 days,1.0,310849.453897
5677,21698,Low,0.08,599.99,24.49,2089,Annie Odom,Regular Air,Corporate,Technology,...,10956,2010-12-30,2011-01-08,8798.1831,22,12750.99,88348,9 days,9.0,377566.186045
3017,21444,High,0.02,300.65,24.49,1140,Miriam Snow,Regular Air,Small Business,Office Supplies,...,75701,2013-11-18,2013-11-19,8752.0428,41,12684.12,86589,1 days,1.0,519825.567067
1334,21623,High,0.03,535.64,14.70,521,Donald Montgomery,Delivery Truck,Small Business,Technology,...,97206,2013-08-07,2013-08-08,8202.5682,22,11887.78,89332,1 days,1.0,310849.453897
2926,24136,Critical,0.05,574.74,24.49,1118,Jesse Williams Katz,Regular Air,Consumer,Technology,...,85364,2012-11-07,2012-11-08,8118.8919,22,11766.51,86777,1 days,1.0,310849.453897